In [1]:
import pandas as pd

In [39]:
joplin = pd.read_csv('./data/ISCRAM2013_dataset/Joplin_2011_labeled_data/01_personal-informative-other/a131709.csv',
                  index_col='_unit_id')

In [40]:
joplin.choose_one.value_counts()

Personal only                       794
Informative (Direct or Indirect)    762
Informative (Indirect)              469
Informative (Direct)                265
Other                                94
Name: choose_one, dtype: int64

In [41]:
joplin2 = pd.read_csv('./data/ISCRAM2013_dataset/Joplin_2011_labeled_data/02_informative_caution-infosrc-donation-damage-other/a121571.csv',
                  index_col='_unit_id')

In [9]:
df1 = pd.read_csv('./data/sandy2012_labeled_data/01_personal-informative-other/a143145.csv',
                  index_col='_unit_id')

In [13]:
df1.shape

(1000, 11)

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 221934923 to 221941939
Data columns (total 11 columns):
_golden                  1000 non-null bool
_unit_state              1000 non-null object
_trusted_judgments       1000 non-null int64
_last_judgment_at        1000 non-null object
choose_one               1000 non-null object
choose_one:confidence    1000 non-null float64
choose_one_gold          51 non-null object
nil                      1 non-null object
text_no_rt               1000 non-null object
tweet                    1000 non-null object
user                     1000 non-null object
dtypes: bool(1), float64(1), int64(1), object(8)
memory usage: 86.9+ KB

In [10]:
df1.head()

,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,nil,text_no_rt,tweet,user
_unit_id,,,,,,,,,,,
221934923,True,golden,3,11/13/2012 02:06:24,Personal Only,1.000,Personal Only,NaN,......................Ã¤Ã³Ã¬@Brains_x_Beauty: ...,RT @TheHolyKaron: ......................Ã¤Ã³Ã¬...,____DatPMF
221934924,True,golden,2,11/13/2012 02:16:03,Informative (Indirect),0.515,Informative (Indirect),NaN,At least 39 dead millions without power in San...,At least 39 dead millions without power in San...,_3091004140882
221934925,True,golden,2,11/13/2012 02:06:50,Personal Only,1.000,Personal Only,NaN,Clearly no one wants to look good for sandy la...,Clearly no one wants to look good for sandy la...,_JordanDawn_
221934926,True,golden,1,11/11/2012 01:44:50,Other,1.000,Informative (Indirect),NaN,Hurricane #Sandy hits the Statue Of Liberty ht...,RT @ImJay_wbu: Hurricane #Sandy hits the Statu...,_k4typerry
221934927,False,finalized,3,11/10/2012 12:38:04,Informative (Indirect),1.000,NaN,NaN,Watch Hurricane #Sandy prowling the East Coast...,RT @NASA: Watch Hurricane #Sandy prowling the ...,_KieranJD_

In [42]:
joplin2.choose_one.value_counts()

Caution and advice                       436
Information source                       280
Donations of money, goods or services    204
Casualties and damage                    137
Unknown                                  130
People missing, found or seen             46
Name: choose_one, dtype: int64

In [22]:
df1.choose_one.value_counts()

Informative (Indirect)              386
Personal Only                       296
Other                               161
Informative (Direct or Indirect)     79
Informative (Direct)                 78
Name: choose_one, dtype: int64

In [23]:
1000-296-161

543

In [11]:
df2 = pd.read_csv('./data/sandy2012_labeled_data/02_informative_caution-infosrc-donation-damage-other/a144267.csv',
                 index_col='_unit_id')

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 543 entries, 223607030 to 223607572
Data columns (total 11 columns):
_golden                  543 non-null bool
_unit_state              543 non-null object
_trusted_judgments       543 non-null int64
_last_judgment_at        543 non-null object
choose_one               543 non-null object
choose_one:confidence    543 non-null float64
choose_one_gold          41 non-null object
text_no_rt               543 non-null object
tweet                    543 non-null object
type                     543 non-null object
user                     543 non-null object
dtypes: bool(1), float64(1), int64(1), object(8)
memory usage: 47.2+ KB

In [25]:
df2.choose_one.value_counts()

Casualties and damage                    170
Caution and advice                       144
Unknown                                  125
Information Source                        72
Donations of money, goods or services     32
Name: choose_one, dtype: int64

In [12]:
df2.head()

,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,text_no_rt,tweet,type,user
_unit_id,,,,,,,,,,,
223607030,False,finalized,3,11/14/2012 03:26:51,Casualties and damage,1.0000,NaN,28 deaths due to Hurricane Sandy | Charlotte t...,RT @HenderGrande: 28 deaths due to Hurricane S...,Informative (Direct or Indirect),1EmmaHenderson
223607031,True,golden,3,11/14/2012 03:41:27,Casualties and damage,1.0000,Casualties and damage,Sandy kills 50 people nationwide 18 were New Y...,Sandy kills 50 people nationwide 18 were New Y...,Informative (Direct or Indirect),9NEWS
223607032,False,finalized,3,11/14/2012 03:38:40,Casualties and damage,0.6849,NaN,RT @nowthised: Wider shot of scaffolding toppl...,RT @twc_hurricane: RT @nowthised: Wider shot o...,Informative (Direct or Indirect),AbrahamAkiva
223607033,True,golden,10,11/14/2012 03:35:39,Caution and advice,0.8900,Caution and advice,#Sandy will be onshore about 6pm. Slightly fas...,RT @growingwisdom: #Sandy will be onshore abou...,Informative (Direct or Indirect),aecheylon
223607034,True,golden,7,11/14/2012 03:36:35,"Donations of money, goods or services",0.5727,"Donations of money, goods or services",@ChrisFRC lost startups can go to @AlleyNYC. T...,@ChrisFRC lost startups can go to @AlleyNYC. T...,Informative (Direct or Indirect),AHolidayiii

In [16]:
df3 = pd.read_csv('./data/sandy2012_labeled_data/03_caution-n-advice_classify-extract/a146283.csv',
                 index_col='_unit_id')

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 227175857 to 227175999
Data columns (total 20 columns):
_golden                                 126 non-null bool
_unit_state                             126 non-null object
_trusted_judgments                      126 non-null int64
_last_judgment_at                       126 non-null object
source                                  122 non-null object
type_of_advice_or_caution               126 non-null object
type_of_advice_or_caution:confidence    126 non-null float64
what                                    126 non-null object
when                                    123 non-null object
where                                   126 non-null object
category                                126 non-null object
source_gold                             5 non-null object
text_no_rt                              126 non-null object
tweet                                   126 non-null object
type                                    126 non-null object
type_of_advice_or_caution_gold          13 non-null object
user                                    126 non-null object
what_gold                               13 non-null object
when_gold                               9 non-null object
where_gold                              11 non-null object
dtypes: bool(1), float64(1), int64(1), object(17)
memory usage: 19.8+ KB

In [18]:
df3.head()

,_golden,_unit_state,_trusted_judgments,_last_judgment_at,source,type_of_advice_or_caution,type_of_advice_or_caution:confidence,what,when,where,category,source_gold,text_no_rt,tweet,type,type_of_advice_or_caution_gold,user,what_gold,when_gold,where_gold
_unit_id,,,,,,,,,,,,,,,,,,,,
227175857,True,golden,8,12/8/2012 19:09:26,#sandy\nN/A\nN/A\nn/a\nN/A\n\nN/A\nn/a,A hurricane sighting has been reported,0.7629,Storm just now hitting Jersey\nAll bridges clo...,now\nnow\njust now\nn/a\nN/A\nnow\nnow\njust now,NYC & Jersey\nNYC & Jersey\nMilford\nJersey\nN...,Informative (Direct or Indirect),NaN,Storm just now hitting Jersey...Milford is fee...,Storm just now hitting Jersey...Milford is fee...,Caution and advice,A hurricane sighting has been reported,beball,hitting Jersey\nAll bridges closing in NYC & J...,now,NYC\nJersey\nJersey\nNYC & Jersey
227175859,False,golden,1,11/25/2012 17:31:06,NaN,Other,1.0000,Hurricane Sandy is going to fill the subways w...,NaN,NYC,Informative (Direct or Indirect),NaN,Hurricane Sandy is going to fill the subways w...,RT @JessieWessie33: Hurricane Sandy is going t...,Caution and advice,Other,britthanus,fill the subways with water,NaN,NYC
227175860,True,golden,34,12/10/2012 06:05:12,\nn/a\n\n#Sandy\nn/a\nn/a\n#Sandy\n#Sandy\n\n\...,A hurricane sighting has been reported,0.7427,NYC is now impacted by hurricane\nimpacted\nhu...,now\nnow\n\nnow\nn/a\nn/a\nN/A\nnow\n\nnow\nno...,NYC\nNYC\nNYC\nNYC\nNYC\nNYC\nNYC\nNYC\nNYC\nN...,Informative (Direct or Indirect),NaN,Omg NYC is now impacted by hurricane #Sandy,Omg NYC is now impacted by hurricane #Sandy,Caution and advice,A hurricane sighting has been reported,BuniYani,Impacted\nNYC is now impacted by hurricane\nim...,Now,NYC\nNYC
227175862,True,golden,31,12/10/2012 06:08:53,n/a\n\n#Sandy\n#Sandy\nN/A\n\n\n\n\nN/A\n\nN/A...,Other,0.9531,stock market closing\nstock market closing for...,n/a\n\nna\nN/A\nN/A\n\n1988\n\n\nN/A\n\nN/A\ns...,stock market\nn/a\nna\nN/A\nN/A\nN/A\nn/a\nn/a...,Informative (Direct or Indirect),NaN,First time since 1888 stock market closing for...,First time since 1888 stock market closing for...,Caution and advice,Other,feverplay_xo,stock market closing\nstock market closing for...,N/A\nn/a,N/A\nn/a
227175867,False,golden,1,11/25/2012 17:24:06,NaN,A hurricane sighting has been reported,1.0000,Hurricane Sandy,NaN,NYC,Informative (Direct or Indirect),NaN,Hurricane Sandy or else Frankestorm heading to...,RT @KateNinaA: Hurricane Sandy or else Frankes...,Caution and advice,A hurricane sighting has been reported\nOther,LuciiAgudo,Hurricane Sandy or else Frankestorm,NaN,heading toward NYC

In [20]:
df4 = pd.read_csv('./data/sandy2012_labeled_data/03_damage-n-casualties_classify-extract/a146281.csv',
                 index_col='_unit_id')

In [21]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 227175113 to 227175284
Data columns (total 16 columns):
_golden                                                   170 non-null bool
_unit_state                                               170 non-null object
_trusted_judgments                                        170 non-null int64
_last_judgment_at                                         170 non-null object
hom_many_injured_or_dead_if_people                        170 non-null object
people_or_infrastructure                                  170 non-null object
people_or_infrastructure:confidence                       170 non-null float64
what_infrastructure_was_damaged_if_infrastructure         170 non-null object
category                                                  170 non-null object
hom_many_injured_or_dead_if_people_gold                   12 non-null object
people_or_infrastructure_gold                             32 non-null object
text_no_rt                                                170 non-null object
tweet                                                     170 non-null object
type                                                      170 non-null object
user                                                      170 non-null object
what_infrastructure_was_damaged_if_infrastructure_gold    21 non-null object
dtypes: bool(1), float64(1), int64(1), object(13)
memory usage: 21.4+ KB

In [26]:
harvey = pd.read_csv('./data/annotations/hurricane_harvey_final_data.tsv',delimiter='\t')

In [28]:
harvey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4443 entries, 0 to 4442
Data columns (total 15 columns):
tweet_id             4443 non-null int64
image_id             4443 non-null object
text_info            4443 non-null object
text_info_conf       4443 non-null float64
image_info           4443 non-null object
image_info_conf      4443 non-null float64
text_human           3533 non-null object
text_human_conf      3533 non-null float64
image_human          3533 non-null object
image_human_conf     3533 non-null float64
image_damage         916 non-null object
image_damage_conf    916 non-null float64
tweet_text           4443 non-null object
image_url            4443 non-null object
image_path           4443 non-null object
dtypes: float64(5), int64(1), object(9)
memory usage: 520.7+ KB

In [29]:
harvey.text_info.value_counts()

informative        3334
not_informative    1109
Name: text_info, dtype: int64

In [30]:
harvey.text_human.value_counts()

other_relevant_information                1540
rescue_volunteering_or_donation_effort    1153
infrastructure_and_utility_damage          377
not_relevant_or_cant_judge                 199
affected_individuals                       167
injured_or_dead_people                      71
vehicle_damage                              25
missing_or_found_people                      1
Name: text_human, dtype: int64

In [27]:
harvey.head()

,tweet_id,image_id,text_info,text_info_conf,image_info,image_info_conf,text_human,text_human_conf,image_human,image_human_conf,image_damage,image_damage_conf,tweet_text,image_url,image_path
0,905274232590004225,901671684478029825_0,not_informative,1.0000,informative,1.0,not_relevant_or_cant_judge,1.0000,infrastructure_and_utility_damage,1.0,severe_damage,1.0000,"CONGRATS ON HITTING YOIR GOAL GUYS, I'm sure t...",http://pbs.twimg.com/media/DINhGs8XcAE1H7q.jpg,data_image/hurricane_harvey/27_8_2017/90167168...
1,901646074527535105,901646074527535105_0,informative,0.6822,informative,1.0,injured_or_dead_people,0.6822,infrastructure_and_utility_damage,1.0,severe_damage,0.6728,RT @ajwamood: #ajwamood : Harvey the first maj...,http://pbs.twimg.com/media/DILxh_xWAAAfJDY.jpg,data_image/hurricane_harvey/27_8_2017/90164607...
2,901646074527535105,901646074527535105_1,informative,0.6822,informative,1.0,injured_or_dead_people,0.6822,infrastructure_and_utility_damage,1.0,severe_damage,1.0000,RT @ajwamood: #ajwamood : Harvey the first maj...,http://pbs.twimg.com/media/DILxiisXYAAokz_.jpg,data_image/hurricane_harvey/27_8_2017/90164607...
3,901646074527535105,901646074527535105_2,informative,0.6822,informative,1.0,injured_or_dead_people,0.6822,infrastructure_and_utility_damage,1.0,severe_damage,0.6528,RT @ajwamood: #ajwamood : Harvey the first maj...,http://pbs.twimg.com/media/DILxjSUWAAEIaWH.jpg,data_image/hurricane_harvey/27_8_2017/90164607...
4,901646074527535105,901646074527535105_3,informative,0.6822,informative,1.0,injured_or_dead_people,0.6822,infrastructure_and_utility_damage,1.0,severe_damage,0.6812,RT @ajwamood: #ajwamood : Harvey the first maj...,http://pbs.twimg.com/media/DILxkWJXgAANF-E.jpg,data_image/hurricane_harvey/27_8_2017/90164607...

In [31]:
irma = pd.read_csv('./data/annotations/hurricane_irma_final_data.tsv',delimiter='\t')

In [32]:
irma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 15 columns):
tweet_id             4525 non-null int64
image_id             4525 non-null object
text_info            4525 non-null object
text_info_conf       4525 non-null float64
image_info           4525 non-null object
image_info_conf      4525 non-null float64
text_human           3754 non-null object
text_human_conf      3754 non-null float64
image_human          3754 non-null object
image_human_conf     3754 non-null float64
image_damage         819 non-null object
image_damage_conf    819 non-null float64
tweet_text           4525 non-null object
image_url            4525 non-null object
image_path           4525 non-null object
dtypes: float64(5), int64(1), object(9)
memory usage: 530.4+ KB

In [33]:
irma.text_info.value_counts()

informative                3564
not_informative             957
dont_know_or_cant_judge       4
Name: text_info, dtype: int64

In [34]:
irma.text_human.value_counts()

other_relevant_information                2126
rescue_volunteering_or_donation_effort     830
infrastructure_and_utility_damage          416
not_relevant_or_cant_judge                 190
affected_individuals                       100
injured_or_dead_people                      62
vehicle_damage                              24
missing_or_found_people                      6
Name: text_human, dtype: int64

In [35]:
maria = pd.read_csv('./data/annotations/hurricane_maria_final_data.tsv',delimiter='\t')

In [37]:
maria.text_info.value_counts()

informative        2844
not_informative    1718
Name: text_info, dtype: int64

In [36]:
maria.text_human.value_counts()

other_relevant_information                1382
rescue_volunteering_or_donation_effort    1032
not_relevant_or_cant_judge                 419
infrastructure_and_utility_damage          290
affected_individuals                        89
injured_or_dead_people                      34
missing_or_found_people                      9
vehicle_damage                               8
Name: text_human, dtype: int64