In [1]:
import pandas as pd

In [2]:
joplin = pd.read_csv('../data/Joplin_2011_labeled_data/01_personal-informative-other/a131709.csv',
                     index_col='_unit_id')

In [6]:
joplin.choose_one.value_counts()

Personal only                       794
Informative (Direct or Indirect)    762
Informative (Indirect)              469
Informative (Direct)                265
Other                                94
Name: choose_one, dtype: int64

In [19]:
joplin['event'] = 'joplin'

In [7]:
joplin2 = pd.read_csv('../data/Joplin_2011_labeled_data/02_informative_caution-infosrc-donation-damage-other/a121571.csv',
                  index_col='_unit_id')

In [8]:
joplin2.choose_one.value_counts()

Caution and advice                       436
Information source                       280
Donations of money, goods or services    204
Casualties and damage                    137
Unknown                                  130
People missing, found or seen             46
Name: choose_one, dtype: int64

In [9]:
sandy = pd.read_csv('../data/sandy2012_labeled_data/01_personal-informative-other/a143145.csv',
                  index_col='_unit_id')

In [10]:
sandy.shape

(1000, 11)

In [29]:
sandy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 221934923 to 221941939
Data columns (total 12 columns):
_golden                  1000 non-null bool
_unit_state              1000 non-null object
_trusted_judgments       1000 non-null int64
_last_judgment_at        1000 non-null object
choose_one               1000 non-null object
choose_one:confidence    1000 non-null float64
choose_one_gold          51 non-null object
nil                      1 non-null object
text_no_rt               1000 non-null object
tweet                    1000 non-null object
user                     1000 non-null object
event                    1000 non-null object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 94.7+ KB

In [11]:
sandy2 = pd.read_csv('../data/sandy2012_labeled_data/02_informative_caution-infosrc-donation-damage-other/a144267.csv',
                  index_col='_unit_id')

In [13]:
sandy2.choose_one.value_counts()

Casualties and damage                    170
Caution and advice                       144
Unknown                                  125
Information Source                        72
Donations of money, goods or services     32
Name: choose_one, dtype: int64

In [39]:
sandy2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 543 entries, 223607030 to 223607572
Data columns (total 11 columns):
_golden                  543 non-null bool
_unit_state              543 non-null object
_trusted_judgments       543 non-null int64
_last_judgment_at        543 non-null object
category                 543 non-null object
choose_one:confidence    543 non-null float64
choose_one_gold          41 non-null object
text_no_rt               543 non-null object
tweet                    543 non-null object
type                     543 non-null object
user                     543 non-null object
dtypes: bool(1), float64(1), int64(1), object(8)
memory usage: 47.2+ KB

In [20]:
sandy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 221934923 to 221941939
Data columns (total 11 columns):
_golden                  1000 non-null bool
_unit_state              1000 non-null object
_trusted_judgments       1000 non-null int64
_last_judgment_at        1000 non-null object
choose_one               1000 non-null object
choose_one:confidence    1000 non-null float64
choose_one_gold          51 non-null object
nil                      1 non-null object
text_no_rt               1000 non-null object
tweet                    1000 non-null object
user                     1000 non-null object
dtypes: bool(1), float64(1), int64(1), object(8)
memory usage: 86.9+ KB

In [28]:
sandy['choose_one'].value_counts()

Informative (Indirect)              386
Personal Only                       296
Other                               161
Informative (Direct or Indirect)     79
Informative (Direct)                 78
Name: choose_one, dtype: int64

In [21]:
sandy2.rename(columns={'choose_one':'category'}, 
                 inplace=True)

In [46]:
mask = ((sandy['choose_one'] == 'Personal Only') | (sandy['choose_one'] == 'Other'))

uninf = sandy[mask]

In [48]:
uninf.shape

(457, 11)

In [23]:
sandy2.columns

Index(['_golden', '_unit_state', '_trusted_judgments', '_last_judgment_at',
       'category', 'choose_one:confidence', 'choose_one_gold', 'text_no_rt',
       'tweet', 'type', 'user'],
      dtype='object')

In [49]:
sandy_cat = pd.concat([uninf, sandy2])

C:\Users\pauls\Anaconda3\envs\dsi\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [50]:
sandy_cat.shape

(1000, 13)

In [51]:
sandy_cat['y'] = sandy_cat['category'].map(
    {"Casualties and damage":1,"Caution and advice":2, 
     "Unknown":3, "Information Source":4, "Donations of money, goods or services":5})

In [59]:
sandy_cat.y.value_counts()

0.0    457
1.0    170
2.0    144
3.0    125
4.0     72
5.0     32
Name: y, dtype: int64

In [58]:
sandy_cat['y'].fillna(0,inplace=True)

### Combine Joplin files

In [61]:
mask = ((joplin['choose_one'] == 'Personal Only') | (joplin['choose_one'] == 'Other'))
uninf = joplin[mask]

joplin2.rename(columns={'choose_one':'category'}, 
                 inplace=True)

joplin_all = pd.concat([uninf, sandy2])

In [70]:
def recode_cat(df): 
    df['y'] = df['category'].map(
        {"Casualties and damage":1,"Caution and advice":2, 
         "Unknown":3, "Information Source":4, "Donations of money, goods or services":5})
    df['y'].fillna(0,inplace=True)
    return df

In [71]:
joplin_cat = recode_cat(joplin_all)

In [76]:
joplin_cat.y.value_counts()

1.0    170
2.0    144
3.0    125
0.0     94
4.0     72
5.0     32
Name: y, dtype: int64

In [77]:
train3 = pd.concat([joplin_cat,sandy_cat], axis=0)

C:\Users\pauls\Anaconda3\envs\dsi\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [78]:
train3.shape

(1637, 15)

In [81]:
train3.y.value_counts(1)

0.0    0.336591
1.0    0.207697
2.0    0.175932
3.0    0.152718
4.0    0.087966
5.0    0.039096
Name: y, dtype: float64

In [80]:
train3.to_pickle('../data/train3.pkl')

In [26]:
train2 = pd.concat([joplin,sandy], axis=0)

C:\Users\pauls\Anaconda3\envs\dsi\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [27]:
train2.shape

(3384, 13)

In [32]:
import numpy as np

In [43]:
train2['informative'] = train2['choose_one'].map(lambda x: 1 if "Informative" in x else 0 )

In [45]:
train2.informative.value_counts()

1    2039
0    1345
Name: informative, dtype: int64

In [30]:
train2.choose_one.value_counts()

Informative (Indirect)              855
Informative (Direct or Indirect)    841
Personal only                       794
Informative (Direct)                343
Personal Only                       296
Other                               255
Name: choose_one, dtype: int64

In [28]:
train2.head()

,_golden,_last_judgment_at,_trusted_judgments,_unit_state,choose_one,choose_one:confidence,choose_one_gold,event,nil,predicted,text_no_rt,tweet,user
_unit_id,,,,,,,,,,,,,
204690712,False,10/6/2012 03:35:03,4,finalized,Informative (Direct or Indirect),0.5133,NaN,joplin,NaN,Informative (Indirect),Cruuuuud. Tornado warning for Denton County. A...,Cruuuuud. Tornado warning for Denton County. A...,NaN
204690713,True,10/6/2012 03:25:33,129,golden,Informative (Indirect),0.4781,Informative (Indirect),joplin,NaN,Informative (Indirect),Tornado WARNING for Tarrant county. Storm spot...,Tornado WARNING for Tarrant county. Storm spot...,NaN
204690714,False,10/5/2012 09:43:16,6,finalized,Informative (Direct or Indirect),1.0000,NaN,joplin,NaN,Informative (Indirect),Tornado on the ground in Azle headed right tow...,RT @AmandaSalinas: Tornado on the ground in Az...,NaN
204690715,True,10/6/2012 03:25:33,125,golden,Informative (Indirect),0.6346,Informative (Indirect),joplin,NaN,Informative (Indirect),US tornado toll rises to 122 (AFP) http://dlvr...,US tornado toll rises to 122 (AFP) http://dlvr...,NaN
204690716,False,10/6/2012 03:02:15,3,finalized,Informative (Indirect),1.0000,NaN,joplin,NaN,Informative (Indirect),US tornado toll rises to 122 (AFP) http://dlvr...,US tornado toll rises to 122 (AFP) http://dlvr...,NaN

In [50]:
train2.to_pickle('../data/train2.pkl')