In [1]:
import pandas as pd

In [7]:
joplin = pd.read_csv('../data/Joplin_2011_labeled_data/01_personal-informative-other/a131709.csv',
                     index_col='_unit_id')

In [13]:
joplin.head()

,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,predicted,text_no_rt,tweet
_unit_id,,,,,,,,,,
204690712,False,finalized,4,10/6/2012 03:35:03,Informative (Direct or Indirect),0.5133,NaN,Informative (Indirect),Cruuuuud. Tornado warning for Denton County. A...,Cruuuuud. Tornado warning for Denton County. A...
204690713,True,golden,129,10/6/2012 03:25:33,Informative (Indirect),0.4781,Informative (Indirect),Informative (Indirect),Tornado WARNING for Tarrant county. Storm spot...,Tornado WARNING for Tarrant county. Storm spot...
204690714,False,finalized,6,10/5/2012 09:43:16,Informative (Direct or Indirect),1.0000,NaN,Informative (Indirect),Tornado on the ground in Azle headed right tow...,RT @AmandaSalinas: Tornado on the ground in Az...
204690715,True,golden,125,10/6/2012 03:25:33,Informative (Indirect),0.6346,Informative (Indirect),Informative (Indirect),US tornado toll rises to 122 (AFP) http://dlvr...,US tornado toll rises to 122 (AFP) http://dlvr...
204690716,False,finalized,3,10/6/2012 03:02:15,Informative (Indirect),1.0000,NaN,Informative (Indirect),US tornado toll rises to 122 (AFP) http://dlvr...,US tornado toll rises to 122 (AFP) http://dlvr...

In [8]:
joplin.choose_one.value_counts()

Personal only                       794
Informative (Direct or Indirect)    762
Informative (Indirect)              469
Informative (Direct)                265
Other                                94
Name: choose_one, dtype: int64

In [18]:
joplin.predicted.value_counts()

Personal message          1055
Informative (Direct)       790
Informative (Indirect)     447
Other                       91
Name: predicted, dtype: int64

In [19]:
joplin['event'] = 'joplin'

In [17]:
max(joplin.index)

204693117

In [9]:
joplin2 = pd.read_csv('../data/Joplin_2011_labeled_data/02_informative_caution-infosrc-donation-damage-other/a121571.csv',
                  index_col='_unit_id')

In [14]:
min(joplin2.index)

191082764

In [15]:
max(joplin2.index)

191083996

In [10]:
joplin2.head()

,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,id,retweetcount,screenname,text,userid
_unit_id,,,,,,,,,,,,
191082764,False,finalized,3,8/12/2012 13:24:55,Caution and advice,1.0000,NaN,74943468706873200,0.0,1stJoshRobinson,Yesterday was supposed to be 70 and sunny/cold...,85940638.0
191082765,False,finalized,4,8/12/2012 13:38:35,Information source,0.4896,NaN,74301096193040304,0.0,jenr8rluvsJesus,@fox12weather re: tornado. I live in Vancouver...,46529360.0
191082766,False,finalized,3,8/12/2012 13:29:09,"Donations of money, goods or services",1.0000,NaN,77764430137536400,1.0,ABC_Plastics,@TippingPointSEO: please follow my friends @R...,145273867.0
191082767,False,finalized,3,8/12/2012 13:36:39,Casualties and damage,1.0000,NaN,77449750374395904,2.0,IvanTheTurrible,"My house was blown away by a tornado, but a fa...",33371804.0
191082768,False,finalized,3,8/12/2012 13:11:03,Caution and advice,0.6423,NaN,76134461049274304,0.0,BadAssNigerian,@Juss2Live: News was goin crazy about tornado...,50420551.0

In [12]:
joplin2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233 entries, 191082764 to 191083996
Data columns (total 12 columns):
_golden                  1233 non-null bool
_unit_state              1233 non-null object
_trusted_judgments       1233 non-null int64
_last_judgment_at        1233 non-null object
choose_one               1233 non-null object
choose_one:confidence    1233 non-null float64
choose_one_gold          62 non-null object
id                       1233 non-null int64
retweetcount             649 non-null float64
screenname               1221 non-null object
text                     1233 non-null object
userid                   1221 non-null float64
dtypes: bool(1), float64(3), int64(2), object(6)
memory usage: 116.8+ KB

In [20]:
sandy = pd.read_csv('../data/sandy2012_labeled_data/01_personal-informative-other/a143145.csv',
                  index_col='_unit_id')

In [21]:
sandy.shape

(1000, 11)

In [29]:
sandy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 221934923 to 221941939
Data columns (total 12 columns):
_golden                  1000 non-null bool
_unit_state              1000 non-null object
_trusted_judgments       1000 non-null int64
_last_judgment_at        1000 non-null object
choose_one               1000 non-null object
choose_one:confidence    1000 non-null float64
choose_one_gold          51 non-null object
nil                      1 non-null object
text_no_rt               1000 non-null object
tweet                    1000 non-null object
user                     1000 non-null object
event                    1000 non-null object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 94.7+ KB

In [11]:
joplin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2384 entries, 204690712 to 204693117
Data columns (total 10 columns):
_golden                  2384 non-null bool
_unit_state              2384 non-null object
_trusted_judgments       2384 non-null int64
_last_judgment_at        2384 non-null object
choose_one               2384 non-null object
choose_one:confidence    2384 non-null float64
choose_one_gold          78 non-null object
predicted                2383 non-null object
text_no_rt               2384 non-null object
tweet                    2384 non-null object
dtypes: bool(1), float64(1), int64(1), object(7)
memory usage: 188.6+ KB

In [22]:
sandy['event'] = 'sandy'

In [26]:
train2 = pd.concat([joplin,sandy], axis=0)

C:\Users\pauls\Anaconda3\envs\dsi\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [27]:
train2.shape

(3384, 13)

In [32]:
import numpy as np

In [43]:
train2['informative'] = train2['choose_one'].map(lambda x: 1 if "Informative" in x else 0 )

In [45]:
train2.informative.value_counts()

1    2039
0    1345
Name: informative, dtype: int64

In [30]:
train2.choose_one.value_counts()

Informative (Indirect)              855
Informative (Direct or Indirect)    841
Personal only                       794
Informative (Direct)                343
Personal Only                       296
Other                               255
Name: choose_one, dtype: int64

In [28]:
train2.head()

,_golden,_last_judgment_at,_trusted_judgments,_unit_state,choose_one,choose_one:confidence,choose_one_gold,event,nil,predicted,text_no_rt,tweet,user
_unit_id,,,,,,,,,,,,,
204690712,False,10/6/2012 03:35:03,4,finalized,Informative (Direct or Indirect),0.5133,NaN,joplin,NaN,Informative (Indirect),Cruuuuud. Tornado warning for Denton County. A...,Cruuuuud. Tornado warning for Denton County. A...,NaN
204690713,True,10/6/2012 03:25:33,129,golden,Informative (Indirect),0.4781,Informative (Indirect),joplin,NaN,Informative (Indirect),Tornado WARNING for Tarrant county. Storm spot...,Tornado WARNING for Tarrant county. Storm spot...,NaN
204690714,False,10/5/2012 09:43:16,6,finalized,Informative (Direct or Indirect),1.0000,NaN,joplin,NaN,Informative (Indirect),Tornado on the ground in Azle headed right tow...,RT @AmandaSalinas: Tornado on the ground in Az...,NaN
204690715,True,10/6/2012 03:25:33,125,golden,Informative (Indirect),0.6346,Informative (Indirect),joplin,NaN,Informative (Indirect),US tornado toll rises to 122 (AFP) http://dlvr...,US tornado toll rises to 122 (AFP) http://dlvr...,NaN
204690716,False,10/6/2012 03:02:15,3,finalized,Informative (Indirect),1.0000,NaN,joplin,NaN,Informative (Indirect),US tornado toll rises to 122 (AFP) http://dlvr...,US tornado toll rises to 122 (AFP) http://dlvr...,NaN

In [50]:
train2.to_pickle('../data/train2.pkl')