In [1]:
import GetOldTweets3 as got

In [9]:
import pandas as pd

In [103]:
tweetCriteria = got.manager.TweetCriteria().setQuerySearch('hurricane michael')\
                                           .setSince("2018-10-09")\
                                           .setUntil("2018-10-12")\
                                           .setMaxTweets(1000000)

tweets = got.manager.TweetManager.getTweets(tweetCriteria)

An error occured during an HTTP request: [WinError 10054] An existing connection was forcibly closed by the remote host
Try to open in browser: https://twitter.com/search?q=hurricane%20michael%20since%3A2018-10-09%20until%3A2018-10-12&src=typd

SystemExit:

C:\Users\pauls\Anaconda3\envs\dsi\lib\site-packages\IPython\core\interactiveshell.py:2971: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [92]:
tweets[1].text

'Much going on in the world especially in US need prayers for all states being in route of Hurricane Michael please continue to pray support give kindness love compassion only necessities #food #clothes #shelterlove @marceecornpic.twitter.com/grVSmrIljK'

In [93]:
len(tweets)

50000

In [94]:
t_list = []
for i in range(len(tweets)):
    t_list.append({
       'id': tweets[i].id,
        'permalink': tweets[i].permalink,
        'username' : tweets[i].username,
        'to': tweets[i].to,
        'text': tweets[i].text,
        'date' : tweets[i].date,
        'retweets' : tweets[i].retweets,
        'favorites' : tweets[i].favorites,
        'mentions' : tweets[i].mentions,
        'hashtags' : tweets[i].hashtags,
        'geo': tweets[i].geo 
    })
df = pd.DataFrame(t_list)

In [68]:
df.permalink[10101]

'https://twitter.com/Harrison_PRS/status/1050793365225246720'

In [95]:
df.to_pickle('hurricane_michael_Oct11_p1.pkl')

In [96]:
df.shape

(50000, 11)

In [81]:
merged = pd.concat([df,firstbatch],axis=0)

In [82]:
merged.shape

(63681, 11)

In [83]:
merged.drop_duplicates(inplace=True)

In [85]:
# merged.to_pickle('hurricane_michael.pkl')

In [97]:
df.favorites.value_counts()

0        31407
1         7154
2         3073
3         1767
4         1139
5          742
6          589
7          444
8          328
9          279
10         253
11         202
12         174
13         167
14         127
15          99
16          97
17          80
19          78
18          77
20          69
23          63
22          62
21          58
24          48
26          45
27          42
25          41
29          34
28          32
         ...
1781         1
1269         1
981          1
565          1
341          1
277          1
245          1
181          1
2164         1
22078        1
500          1
372          1
308          1
947          1
723          1
691          1
435          1
243          1
179          1
8017         1
1330         1
274          1
242          1
178          1
1489         1
1393         1
913          1
529          1
433          1
591          1
Name: favorites, Length: 387, dtype: int64

In [90]:
merged.sort_values(by=merged.date,ascending=False)

KeyError: 0       2018-10-12 23:59:57+00:00
1       2018-10-12 23:59:53+00:00
2       2018-10-12 23:59:52+00:00
3       2018-10-12 23:59:49+00:00
4       2018-10-12 23:59:43+00:00
5       2018-10-12 23:59:42+00:00
6       2018-10-12 23:59:37+00:00
7       2018-10-12 23:59:35+00:00
8       2018-10-12 23:59:25+00:00
9       2018-10-12 23:59:24+00:00
10      2018-10-12 23:59:24+00:00
11      2018-10-12 23:59:22+00:00
12      2018-10-12 23:59:22+00:00
13      2018-10-12 23:59:20+00:00
14      2018-10-12 23:59:18+00:00
15      2018-10-12 23:59:11+00:00
16      2018-10-12 23:58:56+00:00
17      2018-10-12 23:58:56+00:00
18      2018-10-12 23:58:53+00:00
19      2018-10-12 23:58:53+00:00
20      2018-10-12 23:58:49+00:00
21      2018-10-12 23:58:37+00:00
22      2018-10-12 23:58:36+00:00
23      2018-10-12 23:58:26+00:00
24      2018-10-12 23:58:25+00:00
25      2018-10-12 23:58:12+00:00
26      2018-10-12 23:58:12+00:00
27      2018-10-12 23:58:03+00:00
28      2018-10-12 23:58:01+00:00
29      2018-10-12 23:58:00+00:00
                   ...
3415    2018-10-12 16:47:08+00:00
3463    2018-10-12 16:42:04+00:00
3485    2018-10-12 16:39:00+00:00
3491    2018-10-12 16:37:59+00:00
3961    2018-10-12 15:47:21+00:00
4570    2018-10-12 14:49:56+00:00
4606    2018-10-12 14:46:38+00:00
4690    2018-10-12 14:39:00+00:00
5665    2018-10-12 13:09:41+00:00
5902    2018-10-12 12:45:02+00:00
6973    2018-10-12 09:10:09+00:00
7095    2018-10-12 08:16:47+00:00
7139    2018-10-12 07:47:07+00:00
7147    2018-10-12 07:41:50+00:00
7152    2018-10-12 07:40:05+00:00
7175    2018-10-12 07:26:28+00:00
7349    2018-10-12 06:31:37+00:00
7742    2018-10-12 04:17:37+00:00
8141    2018-10-12 03:03:10+00:00
8423    2018-10-12 02:20:40+00:00
10397   2018-10-11 23:19:58+00:00
11400   2018-10-11 22:10:21+00:00
11715   2018-10-11 21:47:39+00:00
12086   2018-10-11 21:24:24+00:00
12134   2018-10-11 21:20:39+00:00
12387   2018-10-11 21:01:14+00:00
13107   2018-10-11 20:08:35+00:00
13194   2018-10-11 20:03:43+00:00
13307   2018-10-11 19:57:43+00:00
13314   2018-10-11 19:57:13+00:00
Name: date, Length: 50043, dtype: datetime64[ns, UTC]

In [1]:
from twitterscraper import query_tweets

In [ ]:
query_tweets()

In [2]:
if __name__ == '__main__':
    list_of_tweets = query_tweets("Trump OR Clinton", limit=10, 
                                  begindate=datetime.date(2006, 3, 21), 
                                  enddate=datetime.date(2019, 4, 15), 
                                  poolsize=20, lang='en')
    #print the retrieved tweets to the screen:
    for tweet in query_tweets("Trump OR Clinton", 10):
        print(tweet)

SyntaxError: invalid character in identifier (<ipython-input-2-698f1504ad87>, line 9)

In [ ]:
import codecs, json
import pandas as pd

with codecs.open('tweets.json', 'r', 'utf-8') as f:
    tweets = json.load(f, encoding='utf-8')

list_tweets = [list(elem.values()) for elem in tweets]
list_columns = list(tweets[0].keys())
df = pd.DataFrame(list_tweets, columns=list_columns)

In [ ]:
#Or save the retrieved tweets to file:
    file = open(“output.txt”,”w”)
    for tweet in query_tweets("Trump OR Clinton", 10):
        file.write(tweet.encode('utf-8'))
    file.close()

-h or --help Print out the help message and exits.
-l or --limit TwitterScraper stops scraping when at least the number of tweets indicated with --limit is scraped. Since tweets are retrieved in batches of 20, this will always be a multiple of 20. Omit the limit to retrieve all tweets. You can at any time abort the scraping by pressing Ctrl+C, the scraped tweets will be stored safely in your JSON file.
--lang Retrieves tweets written in a specific language. Currently 30+ languages are supported. For a full list of the languages print out the help message.
-bd or --begindate Set the date from which TwitterScraper should start scraping for your query. Format is YYYY-MM-DD. The default value is set to 2006-03-21. This does not work in combination with --user.
-ed or --enddate Set the enddate which TwitterScraper should use to stop scraping for your query. Format is YYYY-MM-DD. The default value is set to today. This does not work in combination with --user.
-u or --user Scrapes the tweets from that users profile page. This also includes all retweets by that user. See examples below.
-p or --poolsize Set the number of parallel processes TwitterScraper should initiate while scraping for your query. Default value is set to 20. Depending on the computational power you have, you can increase this number. It is advised to keep this number below the number of days you are scraping. For example, if you are scraping from 2017-01-10 to 2017-01-20, you can set this number to a maximum of 10. If you are scraping from 2016-01-01 to 2016-12-31, you can increase this number to a maximum of 150, if you have the computational resources. Does not work in combination with --user.
-o or --output Gives the name of the output file. If no output filename is given, the default filename 'tweets.json' or 'tweets.csv' will be used.
-c or --csv Write the result to a CSV file instead of a JSON file.
-d or --dump: With this argument, the scraped tweets will be printed to the screen instead of an outputfile. If you are using this argument, the --output argument doe not need to be used.